/* Forked to adaptive resolution by Jaareet#0097 */

html {
    font-family: 'Oswald', sans-serif;
    font-size: .60vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* #StatusHud {  -- Center Style
    position:absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: -.5vw;
} */

#StatusHud {
    position:absolute;
    left: 1vw;
    bottom: .2vw;
}

.logo img {
    position: absolute;    
    top: .5vw;
    right: .5vw;
    width: 4vw;
}

:root {
    --text-colour: #fff;
    --back-colour: #252525;
}

.container {
    display:inline-block;
    background-color: var(--back-colour);
    border-radius: .2vw;
    color: var(--text-colour);
    padding: .35vw .5vw;
    width: fit-content;
    animation: onShow 1s;
}
    
.level {
    display:inline-block;
    background-color:transparent;
    margin-top: .1vw;
    margin-left: .2vw;
}

i {
    display:inline-block;
    background-color:transparent;
    margin-top: .1vw;
}

@keyframes onShow {
    from {transform: translateY(2.5vw);}
    to   {transform: translateY(0.0vw);}
}
